{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/inputs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}">

    
{% endblock %}

{% block content %}
    <div class="page-name">
        <p>Register account</p>
    </div>

    <form action="" method="POST" autocomplete="off">
        {{ form.csrf_token }} 
        <div class="div-username">
            {{ form.username(class_="input-username", placeholder="Username",autocomplete="off", autofocus="on") }}
        </div>
        
        <div class="div-pass">
            {{ form.password(class_="input-pass", placeholder="Password")}}
        </div>

        <input type="submit" value="Send me" class="button" style="width: 100%; padding: 6px;">
    </form>

{% endblock %}

{% block scripts %}

{% endblock %}