.div-username{
    margin-bottom: 3.5rem;
}
.div-username, .div-pass{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}
.div-username label, .div-pass label{
    color: #fff;
    font-weight: 500;
    margin-right: .4em;
}
.input-username, .input-pass{
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.div-pass{
    /* margin-bottom: ; */
    margin-bottom: 5vh;
}
.input-username label{
    color: #fff;
}
.input-username:focus, .input-pass:focus{
    outline: 0;
    color: #fff;
}
/* Alter color placeholder */
::-webkit-input-placeholder {
    color: #fff;
    font-size: 1rem;
}

:-moz-placeholder { /* Firefox 18- */
    color: #fff; 
    font-size: 1rem; 
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;  
    font-size: 1rem;
}

:-ms-input-placeholder {  
    color: #fff;  
    font-size: 1rem;
}
/* Alter background select name autocomplete html */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #10AAE1 inset;
    -webkit-text-fill-color: #fff;
}
