body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
.content-body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #06AED5 0%, #20A4F3 100%);
    
}
header{
    width: 100vw !important;
    height: 5.6rem !important;
    display: inline-flex !important;
    align-items: center !important;

    border-bottom: 1px solid #fff;
}
.left-header{
    height: 5.6rem;
    display: inline-flex;
    align-items: center;   
}
.logo{
    width: 4rem;
    height: 4rem;
    background:url("../img/logo.svg") no-repeat;
    margin-left: 2.4rem;
    margin-right: 1rem;   
}
.name-app{
    display: inline-block;
    align-items: center;
}
.name-app a{
    width: 20% !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 2rem !important;
    text-decoration: none !important;
}
.right-header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.signup, .pokemons-link{
    margin-right: 2.6rem;
}
.signup a, .signin a, .pokemons-link a{
    text-decoration: none !important;
    color: #fff !important;
    font-size: 1.4rem !important;
    font-weight: 300 !important;
}
.signin{
    margin-right: 1.4rem;
}

main{
    width: 50%;
    height: 55%;
    border: 1px solid #fff;
    border-radius: 8px;

    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 3rem;
}


footer{
    width: 100vw;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;
}
footer p{
    width: 100vw;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    font-weight: 300;

}

/* alerts */
.alert-danger, .alert-success, .alert-warning{
    margin: 1.5rem auto;
    width: 50%;
    text-align: center;
}