main{
    border: 0;
    width: 100%;
}
.content-pokemons{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.container-pokemon{
    background-color: #F0F1EC;
    margin-right: 2rem;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.container-pokemon:first-child{
    margin-left: 2rem;
}
.container-pokemon h6{
    font-size: 1.4rem;
    font-weight: 300;
    
}
.container-pokemon p{
    font-size: .9rem;
    padding: 1rem;
}
