{% extends 'base.html' %}

{% block title %} {{ super() }}- Pokémons {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemons/index.css') }}">
{% endblock %}

{% block content %}

<div class="content-pokemons">
    {% for dado in dados %}
    <div class="container-pokemon">
        <img src="{{ dado['img'] }}" width="150" alt="">

            <h6>{{ dado["name"] }}</h6>
            
    </div>
    {% endfor %}
    
    <!-- <div class="icon">
        <img src="../../static/icons/arrow-down-circle.svg" alt="" width="32" height="32" title="rolar">
    </div> -->
    
</div>






{% endblock %}