{% extends 'base.html' %}

{% block title %} {{ super() }}- Pokémons {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemons/pokemons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemons/color-types.css') }}">
{% endblock %}

{% block content %}

<div class="content-pokemons">
    {% for dado in lista_pokemons %}
    <div class="container-pokemon">
    
        <a href='/pokemon/{{ dado["name"].lower() }}'>
            <img src='{{ dado["img"] }}' width="140" height="140" alt="">
        </a>

        <h3>Nº{{ dado["num"] }}</h3>
       

            <h6>{{ dado["name"] }}</h6>

            <div class="types">
                {% for type in dado["type"] %}
                    <div class="{{type.lower()}}">
                        {{type}}
                    </div>
                {% endfor %}
            </div>
            
            
    </div>
    {% endfor %}
  
    
</div>






{% endblock %}